<!-- HEADER : BEGIN -->
<table cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
  <tr>
    <td style="padding: 20px 0; text-align: center">
      <img src="{{theme.logo}}" alt="{{company}}" border="0" style="max-width: 400px;">
    </td>
  </tr>
</table>
<!-- HEADER : END -->