<!-- DEFAULT : BEGIN -->
<tr>
  <td width="100%" class="td-title">
    {{ subject }}
  </td>
</tr>
<tr>
  <td class="td-default-msg">
    {{ message }}
  </td>
</tr>
<tr>
  <td class="td-button-container">
    <table cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto">
      <tr>
        <td class="button-td">
          <a href="{{ cta.link }}" style="" class="button-a">
            &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ffffff">{{ cta.label }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- DEFAULT: END -->